/* место для вашего кода */

header {
  padding: 92px 24px 98px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu_fonts {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.18px;
  line-height: normal;
}

.header__logo-image {
  width: 189px;
  height: 106px;
  left: 455px;
  bottom: 95px;
  text-align: center;
  margin: -8px 156px -8px -21px;
}

.header__menu-list {
  list-style: circle;
  display: flex;
  gap: 32px;
  margin: auto 25px;
}

.menu-list_main {
  list-style: none;
  pointer-events: none 
}

.menu-link {
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.menu-item_active {
  text-decoration: none;
  list-style: none;
}

.address {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.adress_header {
  margin: -2px 60px 0px 0px;
}

.cover {
  position: relative;
  background-image: url(../images/cover_figma.jpg);
  background-repeat: no-repeat;
  background-size: 1100px 757px;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover-text {
  position: relative;
  display: block;
  color: #fff;
  z-index: 2;
}

.accent-span {
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 31px;
  text-transform: uppercase;
}

.top-text {
  padding-top: 165px;
  padding-left: 49px;
}

.additional {
  margin-left: -26px;
}

.center-text {
  padding-top: 12px;
  padding-left: 335px;
}

.additional-bottom {
  margin-left: 28px;
}
.bottom-text {
  padding-top: 6px;
  padding-right: 50px;
  padding-left: 633px;
  padding-bottom: 0px;
}

.cover_footer {
  padding-top: 127px;
  padding-bottom: 51px;
  display: flex;
  justify-content: space-between;
  padding-left: 78px;
  padding-right: 50px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17.3px;
}

.cover-text-message {
  margin-top: 11px;
  letter-spacing: 0.2px;
}
.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 256px;
  height: 51px;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
/* Part about lots */
.body_file {
  margin: auto 24px;
}

.lots {
  margin-top: 180px;
  width: 1052px;
}

.lots_heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__cards_list {
  list-style: none;
  display: flex;
  gap: 26px;
}

.lots__card_list_item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 334px;
  height: 563px;
  min-height: 100%;
}

.card {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}


.card_title {
  margin: 51px 40px 0px;
  color: #FFF;
  font-family: Raleway , sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 26.4px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-bottom: 0px;
  flex-grow: 1;
  z-index: 2;
}

.card_text {
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
  z-index: 2;
}

.card-image-properties {
  background-repeat: no-repeat;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.first__card-image {
  background-image: url(../images/photo.jpg);
}

.second__card-image {
  background-image: url(../images/photo-2.jpg);
}

.third__card-image {
  background-image: url(../images/photo-3.jpg);
}

.lots_footer {
  display: block;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin: 30px auto 0px 40px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 192px;
}

/* about part */
.about {
  margin-top: 146px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: 0.2px;
} 

.about__text {
  margin: 0px -35px 24px -16px;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.about__column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 145px 73px -8px;
}

.about__logo {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 35px 0px 0px -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 241px;
  background-color: #000;
  border-radius: 50%;

}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 111px 0px 101px -17px;
  text-align: left;
}

.about__text-container {
  grid-column-start: 2;
  grid-column-end: -1;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
}

/* Footer part */
footer {
  padding: 165px 50px 88px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  position: relative;
  left: 17px;
  }

.footer__links {
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer__links_images {
  width: 48px;
  height: 48px;
}